body {
	background-image: url('/img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

a {
	text-decoration: none;
}

.desktop {
	position: absolute;
	top: 25%;
	left: 20%;
}

.card {
	width: 400px;
	height: 190px;
	background-color: #3F565E;
}

.stacked-cards {
	position: relative;
}

.stacked-cards .card-front {
	position: absolute;
}

.stacked-cards card-front:first-of-type .card-front {
	transform: rotate(-4deg);
}

.card-front {
	background: linear-gradient(0deg, rgba(63, 86, 94, 0.71), rgba(63, 86, 94, 0.71)), url('/img/card-background.jpg');
	box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.25);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	padding: 25px;
	font-family: Notable;
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.04em;
	color: #D1DCE0;
}

.card-front p {
	margin: 15px;
}

.card-back {
	padding: 5px 15px 5px 5px;
	display: flex;
	justify-content: space-between;
	transform: translate(70%, 70%);
	box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.25), 0px -2px 15px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}

.card-back .faded-text {
	font-family: Notable;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.04em;
	color: rgba(209, 220, 224, 0.1);
	width: 45%;
	overflow-wrap: break-word;
	margin: 0;
}

.card-back .details {
	width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-back .details a, .card-back .details p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	letter-spacing: 0.04em;
	color: #D1DCE0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-back .details .details-inner a {
	font-weight: normal;
	font-size: 14px;
	margin: 5px 0;
}

.card-back .details .details-inner a:hover {
	text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.70);
}

.card-back .details .details-inner p:last-of-type {
	margin-bottom: 10px;
}

.icons {
	position: absolute;
	top: 120%;
	margin-left: 15px;
}

.icons a img {
	cursor: pointer;
}

.icons a img:hover {
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.70);
}

.icons a:first-of-type {
	margin-right: 20px;
}